<h1 id="tableLabel">To do items</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!toDoItems?.length"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="toDoItems.length">
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Done</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let toDo of toDoItems">
      <td>{{ toDo.name }}</td>
      <td>{{ toDo.done}}</td>
      <td><input type="checkbox" (change)="toggleDone(toDo)" [checked]="toDo.done"></td>
      <td><button (click)="deleteToDo(toDo)">Delete</button></td>
    </tr>
  </tbody>
</table>
